/* CardList.css */

.card-list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.card-list {
  display: flex;
  /* overflow-x: auto; */
  margin: 20px 0;
  gap: 20px;
}

.card-button-left {
  display: flex;
  color: #1b5e20;
  align-items: center;
  font-size: 24px;
}

.card-button-right {
  display: flex;
  color: #1b5e20;
  align-items: center;
  font-size: 24px;
}
