body {
  margin: 0;
  padding: 0;
}

.login-page {
  height: 100vh;
  align-items: center;
}

.left-side {
  background: url("../images/bg.jpg");
  background-size: cover;
  height: 100vh;
  flex: 0 0 60%;
}

.right-side {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #1b5e20;
}

.login-form {
  background-color: white;
  max-width: 300px;
  padding: 3rem;
  border-radius: 1rem;
}

.font-green {
  color: #028910;
}

.green-checkbox .ant-checkbox-inner {
  background-color: rgb(255, 255, 255) !important;
  border-color: #028910 !important;
}

.green-checkbox .ant-checkbox-checked .ant-checkbox-inner {
  background-color: #028910 !important;
  border-color: #028910 !important;
}

.ant-input,
.ant-input:focus,
.ant-input:hover,
.ant-input:active {
  border-radius: 15px;
  border: 1px solid #028910;
}

.ant-input-affix-wrapper,
.ant-input-affix-wrapper:active {
  border-radius: 15px;
  border-radius: 15px;
  color: #028910;
  border: 1px solid #028910;
}

.ant-input-affix-wrapper:hover,
.ant-input-affix-wrapper:focus {
  border: 1px solid #028910 !important;
}

.ant-input-search-button,
.ant-input-search-button:focus,
.ant-input-search-button:hover,
.ant-input-search-button:active {
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  border: 1px solid #028910;
  border-left: none;
}

@media (max-width: 767px) {
  .login-form {
    width: 100%;
    max-width: none;
    padding: 3rem;
    height: auto;
  }

  .right-side {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ffffff;
  }
}
