body {
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.login-page {
  height: 100vh;
  align-items: center;
}

.left-side {
  background: url("../../images/bg.jpg");
  background-size: cover;
  height: 100vh;
  flex: 0 0 60%;
}

.right-side {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #1b5e20;
}

.login-form {
  background-color: white;
  max-width: 300px;
  padding: 3rem;
  border-radius: 1rem;
}

.font-green {
  color: green;
}

.green-checkbox .ant-checkbox-inner {
  background-color: rgb(255, 255, 255) !important;
  border-color: green !important;
}

.green-checkbox .ant-checkbox-checked .ant-checkbox-inner {
  background-color: green !important;
  border-color: green !important;
}

@media (max-width: 767px) {
  .login-form {
    width: 100%;
    max-width: none;
    padding: 3rem;
    height: auto;
  }

  .right-side {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ffffff;
  }
}
