.card-product {
  margin: 0 4rem;
}

.card-product:hover {
  cursor: pointer;
}

.card-review {
  /* width: 300px; */
  margin: 0 1rem;

  .ant-card-body {
    padding: 10px;
  }
}

@media (max-width: 1400px) {
  .card-product {
    margin: 0 3rem;
  }
  .card-review {
    /* width: 250px; */
    margin: 0 2rem;
  }
}

@media (max-width: 1200px) {
  .card-product {
    margin: 0 2rem;
  }
  .card-review {
    /* width: 220px; */
    margin: 0 2rem;
  }
}

@media (max-width: 767px) {
  .card-product {
    margin: 0 1rem;
  }
  .card-review {
    /* width: 200px; */
    margin: 0 1rem;
  }
}
