* {
  font-family: "Kanit", sans-serif !important;
}

.container {
  margin-left: 5rem;
  margin-right: 5rem;
}

.container-content {
  margin-top: 0;
}

.container-item {
  padding: 2rem;
}

.green-button,
.green-button:hover {
  background-color: #028910;
  border-color: #028910 !important;
  color: white !important;
}

.link-action {
  color: #028910 !important;
}
.link-action:hover {
  border-bottom: 1px solid #028910;
}

/* HOME */
.carousel-slide {
  justify-content: center;
  align-items: center;
}

.carousel-slide img {
  width: 100%;
}

.home-content {
  background-color: #1b5e20;
  border-radius: 15px;
  margin-top: -2rem;
  position: relative;
}

.home-content-header {
  margin-top: 5rem;
}

.home-content-center {
  text-align: center;
  margin-bottom: 3rem;
}

.circle-container {
  display: block;
}

.circle-content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 150px;
  background-color: white;
  border-radius: 50%;
}

/* PRODUCT */
.parent {
  background-color: rgba(2, 137, 16, 0.08);
  height: 400px;
}

.child {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fade-in {
  animation: fadeIn 0.5s ease-in-out;
}

.child img {
  height: 100%;
  width: auto;
}

.icon-action {
  height: 30px;
  width: 30px;
  margin-right: 2rem;
  margin-left: 2rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-action:hover {
  color: green;
  background-color: #cbfdd0;
  border-radius: 50%;
}

.disabled {
  opacity: 0.5;
  pointer-events: none;
  cursor: not-allowed;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateX(-10px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@media (max-width: 768px) {
  .container-content {
    margin-top: 5rem;
  }
  .parent {
    height: 200px;
  }
}

@media (max-width: 480px) {
  .parent {
    height: 150px;
  }
}

/* CARD */
.card-product {
  margin: 0 4rem;
  .ant-card-body {
    padding: 10px;
  }
  width: 300px;
}

.card-product:hover {
  cursor: pointer;
}

.card-review {
  margin: 0 1rem;

  .ant-card-body {
    padding: 10px;
  }
}

.card-name-custom {
  font-weight: 500;
  font-size: 24px;
  margin: 0;
}

.card-price-custom {
  font-weight: 500;
  font-size: 24px;
  margin: 0;
  color: #ff5a5a;
}

.card-description-custom {
  font-size: 16px;
  margin: 0;
  color: #a8a8a8;
}

.text-description-custom {
  font-weight: 500;
  font-size: 20px;
  margin: 0;
}

.text-detail-custom {
  font-size: 20px;
  margin: 0;
}

.text-store-detail-custom {
  color: rgba(0, 0, 0, 0.6);
  font-size: 16px;
  margin: 0;
}

.card-rate-custom {
  font-size: 14px;
}

.ant-menu-item {
  color: #028910 !important;
}

.ant-menu-item:hover {
  font-weight: bold;
}

.ant-menu-item-selected,
.ant-menu-item-selected:hover,
.ant-menu-item-selected:active {
  color: #028910 !important;
}

a {
  color: #028910 !important;
}

.text-red {
  color: red !important;
}

.ant-pagination .ant-pagination-item-active {
  border-color: #028910 !important;
}

.avatar:hover {
  cursor: pointer;
}

.ant-select-selector {
  border: 1px solid #028910 !important;
  border-radius: 15px !important;
}

.about-image {
  background-image: url("./images/about-image.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 500px;
  display: flex;
  align-items: center; /* Vertically center items */
  justify-content: center; /* Horizontally center items */
}

.about-text {
  color: white;
  font-size: 45px;
  font-weight: bold;
}

@media (max-width: 1400px) {
  .card-product {
    margin: 0 3rem;
  }
  .card-review {
    margin: 0 2rem;
  }
}

@media (max-width: 1200px) {
  .card-product {
    margin: 0 2rem;
  }
  .card-review {
    margin: 0 2rem;
  }
  .card-name-custom {
    font-size: 20px;
  }

  .card-price-custom {
    font-size: 20px;
  }

  .card-rate-custom {
    font-size: 14px;
  }

  .card-description-custom {
    font-size: 14px;
  }
  .text-store-detail-custom {
    font-size: 14px;
  }
  .text-detail-custom {
    font-size: 18px;
    margin: 0;
  }
  .text-description-custom {
    font-weight: 500;
    font-size: 18px;
    margin: 0;
  }
  h2 {
    font-size: 20px;
  }
}

@media (max-width: 768px) {
  .card-product {
    margin: 0 1rem;
  }
  .card-review {
    margin: 0 1rem;
  }

  .card-name-custom {
    font-size: 18px;
  }

  .card-price-custom {
    font-size: 18px;
  }

  .card-rate-custom {
    font-size: 18px;
  }

  .card-description-custom {
    font-size: 13px;
  }
  .text-store-detail-custom {
    font-size: 12px;
  }
  .text-detail-custom {
    font-size: 16px;
  }
  .text-description-custom {
    font-size: 16px;
  }
  h2 {
    font-size: 18px;
  }
}

@media (max-width: 500px) {
  .card-name-custom {
    font-size: 14px;
  }

  .card-price-custom {
    font-size: 14px;
  }

  .card-rate-custom {
    font-size: 16px;
  }

  .card-description-custom {
    font-size: 10px;
  }

  .text-detail-custom {
    font-size: 14px;
  }

  .text-description-custom {
    font-size: 14px;
  }
  h2 {
    font-size: 16px;
  }
}

.user-layout {
  padding: 0 24px 24px;
  margin: 2rem 0;
}

.user-menu {
  width: 100%;
}

.user-menu-mobile {
  display: none;
}

@media (max-width: 768px) {
  .user-menu {
    display: none;
  }
  .user-menu-mobile {
    width: 100%;
    display: flex;
  }
  .user-layout {
    margin-top: 6rem;
  }
}
