* {
  font-family: "Kanit", sans-serif !important;
}

.container {
  margin-left: 5rem;
  margin-right: 5rem;
}

.container-item {
  padding: 2rem;
}

.green-button,
.green-button:hover {
  background-color: #028910;
  border-color: #028910 !important;
  color: white !important;
}
